@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-4 col-sm-8 info-color-box col-md-offset-4">
            <div class="white-box" style="border-radius:10px">
                <h3 class="card-title text-center"><b>Manage Your Account</b></h3>
                <hr />
                <br />
                @*<partial name="_ManageNav" />*@

                @RenderBody()

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
