@model BugTracker.Models.Ticket

@{
    ViewData["Title"] = "Archive";
}

<div class="row mt-2">
    <div class="col-md-4 col-sm-12 info-color-box col-md-offset-4">
        <br />
        <br />
        <br />
        <br />
        <div class="white-box" style="border-radius:10px">
            <h3 class="card-title text-center"><b>Archive Ticket</b></h3>
            <form asp-action="Archive">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p class="text-center">Are you sure you want to archive the ticket?</p>
                <br />
                <br />
                <div class="form-group text-right">
                    <input type="submit" value="Archive" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>
