@model BugTracker.Models.Ticket
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Create";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<div class="row mt-2">
    <div class="col-md-6 col-sm-12 info-color-box col-md-offset-3">
        <br />
        <br />
        <br />
        <br />
        <div class="white-box" style="border-radius:10px">
            <h3 class="card-title text-center"><b>Create New Ticket</b></h3>
            <form asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.Name" class="control-label"></label>
                        <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TicketPriorityId" class="control-label"></label>
                        <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TicketTypeId" class="control-label"></label>
                        <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
