@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../demos/plugins/images/favicon.png">
    <title>Cubic Admin - A responsive admin template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Cubic/landingpage/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/Cubic/landingpage/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Cubic/landingpage/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/Cubic/landingpage/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="mini-sidebar">
    <section id="wrapper" class="login-register">
        <div class="login-box" style="border-radius:25px">
            <div class="white-box" style="border-radius:15px">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify">'Bug Tracker' is a software defect tracking system built with ASP.NET, MVC, C# and SQL. A role based security system was implemented to create permission based roles. The roles of Admin, Project Manager, Developer and Submitter restrict what the user can see and do. The software allows for users to submit tickets and track those tickets throughout their cycle from open to complete.</p>
                        <br />
                        <br />
                        <p class="text-center">Click "Try Bug Tracker" to continue.</p>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <center class="m-t-40"><a asp-page="/Account/Login" asp-area="Identity" class="btn btn-info btn-block btn-md">Try Bug Tracker</a></center>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /Row -->
    <!-- Row -->
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Cubic/landingpage/plugins/components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Cubic/landingpage/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>