@model BugTracker.Models.ViewModels.ProjectMembersViewModel

<div class="row mt-2">
    <div class="col-md-4 col-sm-12 info-color-box col-md-offset-4">
        <br />
        <br />
        <br />
        <br />
        <div class="white-box" style="border-radius:10px">
            <h3 class="card-title text-center"><b>Assign Project Members</b></h3>
            <br />
            <form method="post" asp-action="AssignProjectMembers" asp-controller="Projects">
                <input hidden asp-for="Project!.Id" />
                <input hidden asp-for="Project!.Name" />
                <input hidden asp-for="Project!.Description" />
                <div class="col-12 mb-3">
                    <div class="form-group">
                        <select required asp-for="@Model.SelectedUsers" class="form-control" asp-items="@Model!.UsersList" multiple="multiple" style="height:200px">
                            <option></option>
                        </select>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="text-right">
                            <span class="btn-list">
                            <input type="submit" class="btn alert-info" value="Assign Users" />
                            <a asp-action="Details" class="btn alert-warning" asp-controller="Projects" asp-route-id="@Model.Project.Id">Back To Details</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
