@model BugTracker.Models.ViewModels.AddProjectWithPMViewModel
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager

@inject IBTProjectService projectService

@{
    ViewData["Title"] = "Edit";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<div class="row mt-2">
    <div class="col-md-6 col-sm-12 info-color-box col-md-offset-3">
        <br />
        <br />
        <br />
        <br />
        <div class="white-box" style="border-radius:10px">
            <h3 class="card-title text-center"><b>Edit Project</b></h3>
            <form asp-action="Edit">
                <input type="hidden" asp-for="Project!.Id" />
                <input type="hidden" asp-for="Project!.CompanyId" />
                <input type="hidden" asp-for="Project!.Created" />
                <input type="hidden" asp-for="Project!.ImageFileName" />
                <input type="hidden" asp-for="Project!.ImageFileData" />
                <input type="hidden" asp-for="Project!.ImageContentType" />
                <input type="hidden" asp-for="Project!.Archived" />
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Project!.Name" class="control-label"></label>
                        <input asp-for="Project!.Name" class="form-control" />
                        <span asp-validation-for="Project!.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project!.Description" class="control-label"></label>
                        <textarea asp-for="Project!.Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Project!.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project!.StartDate" class="control-label"></label>
                        <input asp-for="Project!.StartDate" class="form-control" />
                        <span asp-validation-for="Project!.StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project!.EndDate" class="control-label"></label>
                        <input asp-for="Project!.EndDate" class="form-control" />
                        <span asp-validation-for="Project!.EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.ProjectPriorityId" class="control-label"></label>
                        <select asp-for="Project!.ProjectPriorityId" class="form-control" asp-items="@Model.PriorityList"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
