@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<form class="form-horizontal form-material" id="account" method="post">
    <h4 class="text-center">Request Password Reset</h4>
    <h6 class="text-center">Enter E-mail</h6>
    <br />
    <br />
    <br />
    <div class="form-group">
        <div class="col-xs-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <br />
            <br />
            <div class="pull-right">
                <button type="submit" class="w-100 btn btn-md btn-primary">Reset Password</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
