@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<h4 class="text-center">Request Processed</h4>
<h6 class="text-center">Please check your email to reset your password.</h6>
