@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto">

            <form class="" id="account" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn-sm btn-primary btn-block" name="demoEmail" value="DemoAdminEmail">Demo Admin</button>
                            <button type="submit" class="btn-sm btn-primary btn-block" name="demoEmail" value="DemoPMEmail">Demo Project Manager</button>
                            <button type="submit" class="btn-sm btn-primary btn-block" name="demoEmail" value="DemoDevEmail">Demo Developer</button>
                            <button type="submit" class="btn-sm btn-primary btn-block" name="demoEmail" value="DemoSubEmail">Demo Submitter</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <input asp-for="Input.Email" placeholder="E-mail" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn-sm btn-primary btn-block">Log in</button>
                        </div>
                    </div>
                </div>
                <div class="form-group btn-group-sm text-center">
                    <a type="button" class="btn btn-outline-primary" id="forgot-password" asp-page="./ForgotPassword">Forgot PW?</a>
                    <a type="button" class="btn btn-outline-primary" id="resend-confirmation" asp-page="./ResendEmailConfirmation">E-mail Confirmation</a>
                    <a type="button" class="btn btn-outline-primary" id="register" asp-page="./Register">Register</a>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
